* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    background: #eeeeee;
}

/* Layout */

#cabecalho {
    background: #2a7fa6;
    padding: 10px;
    text-align: center;
}

#logo {
    padding: 20px;
    font-size: 2.5em;
    font-family: 'Bebas Neue';
}

h1 {
    color: rgb(42, 42, 42);
}

span {
    color: white;
}

#principal {
    width: 920px;
    margin: 0 auto;
}

.postado{
    color: black;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

#noticias {
    width: 660px;
    float: left;
}

#menu-lateral {
    width: 240px;
    float: right;
}

#rodape {
    clear: both;
    padding: 20px;
    background: #2a7fa6;
    text-align: center;
}

/* Menu */

#menu {
    padding: 10px;
    font-size: 1.5em;
}

.link-menu {
    text-decoration: none;
}

.link-menu:visited, .link-menu:link {
    color: #fff;
    padding: 8px 12px;
}

.link-menu:hover {
    background: #106085;
}

